{% extends "base.html" %}
{% block content %}
<h1>Potential Student List</h1>
<a class="btn btn-primary" href="{% url 'new_potential_stu' %}">Create New Student</a>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>E-mail</th>
        <th>Options</th>
      </tr>
    </thead>
    {% for student in student_list %}
    <tbody>
      <tr>
        <th>{{ student.name }}</th>
        <th>{{ student.gender }}</th>
        <th>{{ student.dob }}</th>
        <th>{{ student.email }}</th>

        <div class="button-wrapper">
            <th><a class="btn btn-primary" href="{% url 'detail_potential_stu' student.id %}">Detail</a></th>
            <th><a class="btn btn-info" href="{% url 'update_potential_stu' student.id %}">Edit</a></th>
            <th><a class="btn btn-danger" href="{% url 'delete_potential_stu' student.id %}">Delete</a></th>
        </div>
      </tr>
    </tbody>
    {% endfor %}
 </table>

{% endblock %}

