{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'bge-icon.png' %}">
    <title>Boston Global Education</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'template.css' %}" type="text/css"  rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <!--for small screen, collapsing the navigation bar -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <!--the icon when collapse, the horizontal line-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Boston Global Education</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav">
              <!--class="active"-->
            <li><a href="{% url 'index' %}">Home</a></li>

            <li><a href="{% url 'current_stu_list' %}">Current Student</a></li>
            <li><a href="{% url 'potential_stu_list' %}">Potential Student</a></li>
            <li><a href="{% url 'host_list' %}">Host Family</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'register' %}">Create User</a></li>
                  <li><a href="#">BGE Website</a></li>
                  <!--<li><a href="#">Page 1-3</a></li>-->
                </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        {% block content %}
        {% endblock %}
        <!--<h1>Bootstrap starter template</h1>-->
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>

    </div>

    <!--&lt;!&ndash; Bootstrap core JavaScript-->
    <!--==================================================-->
    <!--&lt;!&ndash; Placed at the end of the document so the pages load faster-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
